[user]
	name = Steven Wade
	email = steven@stevenwade.co.uk
	signingkey = AC6EFF1D

[commit]
	gpgsign = true

[github]
	user = swade1987

[url "git@github.com:"]
    insteadOf = https://github.com/

[core]
	excludesfile = ~/.gitignore
	autocrlf = input

[hub]
	protocol = ssh
